<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDWebImage_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5C6C0101DE81D6400A2A1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5C6C0291DE81D6400A2A1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5C6C0341DE81D6400A2A1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
